
@{
    ViewBag.Title = "Doctor";
}

<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover table-stripped">
                    @*<thead>
                        <tr>
                            <th>
                                <h3 class="text-center text-danger">
                                    Doctor's Name
                                </h3>
                            </th>
                            <th>
                                <h3 class="text-center text-danger">
                                    Doctor's Information
                                </h3>

                            </th>
                        </tr>
                    </thead>*@
                    <tbody>
                        <br>
                        <tr class="active">
                            <td>
                                
                                <img alt="Bootstrap Image Preview" src=@Url.Content("/Asset/jpg/1.jpg") class="img-responsive center-block img-rounded" style="max-width:150px" style="max-height:150px">
                                <h3 class="text-center text-success">
                                    Dr. Hamidur Rahman
                                </h3>

                            </td>
                            <td>
                                <dl class="dl-horizontal">
                                    <dt>
                                        <h4 class="text-primary">
                                            Specialist
                                        </h4>
                                    </dt>
                                    <dd>
                                        <h4 class="text-muted">
                                            Eye Doctor
                                        </h4>
                                    </dd>
                                    <dt>
                                        <h4 class="text-primary">
                                            Hospital Name
                                        </h4>
                                    </dt>
                                    <dd>
                                        <h4 class="text-muted">
                                            Eye Doctor
                                        </h4>
                                    </dd>
                                    <dt>
                                        <h4 class="text-primary">
                                            Location
                                        </h4>
                                    </dt>
                                    <dd>
                                        <h4 class="text-muted">
                                            Dhaka
                                        </h4>
                                    </dd>
                                    <dt>
                                        <h4 class="text-primary">
                                            Contact
                                        </h4>
                                    </dt>
                                    <dd>
                                        <h4 class="text-muted">
                                            +88016738237
                                        </h4>
                                    </dd>
                                </dl>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled">
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</body>

