@{
    ViewBag.Title = "Home Page";
}

<body background=@Url.Content("~/Content/image/home.jpg")>


    <div class="container-fluid">
        <div>
            <h1 class="text-danger">MedicAid by #HASHTAG (AUST CSE)</h1>
            <video autoplay muted loop style="width: 100%; height: 400px">
                <source src=@Url.Content("/Content/video/patient.mp4") type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-danger">What is MedicAid?</h2>
                <p>
                    <dl>
                        <dt>
                            The project “MedicAid” is a web based project created using ASP.NET MVC5 which is aimed to provide medical information related help so that not only people can easily get all information in one place but also can compare information and find out which is best for themselves.
                        </dt>
                    </dl>
                </p>
                <p><a class="btn btn-primary" href="https://github.com/SayefReyadh/MedicAid-ASP.NET-MVC5-AUST-CSE-3200-WebApplication">Github Repo (MedicAid-ASP.NET-MVC5-AUST-CSE-3200-WebApplication)</a></p>
            </div>
            <div class="col-md-4">
                <h2 class="text-danger">Authors</h2>
                <dl><dt>
                    <p><a href="https://github.com/SayefReyadh">Sayef Reyadh Khan</a></p>
                    <p><a href="https://github.com/shaafi20">Asif Imtiaz Shaafi</a></p>
                    <p><a href="https://www.facebook.com/farzana.eva.2">Farzana Eva</a></p>

                </dt></dl>
                
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            Doctor's Information
                        </h3>
                        <dl>
                            <dt>
                                Etiam mauris arcu, pretium a interdum eu, facilisis non tellus. Quisque faucibus, nunc vitae cursus efficitur, mauris eros tristique nibh, a scelerisque augue magna vel libero. Suspendisse ornare sem sed sapien pharetra lacinia. In facilisis leo a posuere dictum. Nullam ultricies tortor magna, ut tempus nunc dapibus quis. Donec vel ex eget orci tincidunt tincidunt. Integer feugiat dapibus scelerisque. Sed vestibulum non enim facilisis malesuada. Duis commodo sit amet ipsum in volutpat. Duis sollicitudin nunc nisi, vel viverra ipsum finibus id. Maecenas aliquet sapien quis ex tincidunt, vel tincidunt orci varius. Donec hendrerit eu mi at egestas. Sed tempor luctus vehicula. Vivamus vel est quis justo pulvinar placerat. Sed congue sem non neque facilisis euismod. In in feugiat lorem.
                            </dt>
                            <dd>

                            </dd>

                        </dl>
                    </div>
                    <div class="col-md-6">
                        <h3>
                            Hospital's Information

                        </h3>
                        <dl>
                            <dt>
                                Proin nunc velit, elementum sit amet ligula id, consectetur congue lorem. Maecenas faucibus nibh eget dui ultrices tincidunt. Etiam posuere ornare fermentum. Donec ex magna, aliquam at risus a, ultricies interdum dolor. Pellentesque eu blandit sem. Donec pulvinar a justo eget feugiat. Proin suscipit arcu a elit interdum feugiat. Nam imperdiet tincidunt sem vitae hendrerit. Nam nec magna magna. Nulla eget elit sit amet magna accumsan fermentum eu ac turpis. Pellentesque ligula tellus, pretium in metus sed, ullamcorper dapibus tortor.

                            </dt>
                            <dd>

                            </dd>

                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            Pharmacy's Information
                        </h3>
                        <dl>
                            <dt>
                                Mauris iaculis velit molestie, dignissim lorem ac, volutpat ligula. Praesent eu mollis nunc. Donec auctor lorem orci, ac sagittis lectus pretium vel. Fusce massa ipsum, dapibus ac nulla consectetur, tempus viverra arcu. Etiam pretium tempus tortor ac accumsan. Curabitur tellus elit, finibus at pellentesque sed, pretium sed orci. Etiam at porttitor dui. Proin nibh ex, lacinia eget ligula eu, dapibus eleifend orci. Mauris dictum, tortor eu vulputate mollis, dui nulla interdum turpis, non suscipit velit felis sit amet dolor. Mauris luctus accumsan massa non bibendum. Nullam ultrices, mi at posuere ornare, mi enim maximus massa, at ultrices sapien nulla id nisi.
                            </dt>
                            <dd>

                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <h3>
                            Emergency's Information
                        </h3>
                        <dl>
                            <dt>
                                Duis lobortis, nulla eu faucibus congue, arcu velit faucibus lorem, eget molestie urna odio sit amet metus. Nulla efficitur ligula ante, at venenatis sem pretium nec. Phasellus eget leo ut elit iaculis dapibus ac eget velit. Phasellus vitae nulla porttitor, bibendum erat scelerisque, rutrum dui. Nunc id massa augue. Vestibulum eleifend vehicula justo ac viverra. Nulla magna neque, luctus eu tristique porta, pharetra at diam. Aenean consectetur porta nisl nec finibus. Nulla scelerisque et tortor vel rutrum. Integer porttitor velit augue, a lobortis orci commodo vel. Integer ut interdum sem.


                            </dt>
                            <dd>

                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>