@{
    ViewBag.Title = "Home Page";
}

<body background=@Url.Content("~/Content/image/home.jpg")>


    <div class="container-fluid">
        <div>
            <h1 class="text-danger">MedicAid by #HASHTAG (AUST CSE)</h1>
            <video autoplay muted loop style="width: 100%; height: 400px">
                <source src=@Url.Content("/Content/video/patient.mp4") type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-danger">What is MedicAid?</h2>
                <p>
                    The project “MedicAid” is a web based project created using ASP.NET MVC5 which is aimed to provide medical information related help so that not only people can easily get all information in one place but also can compare information and find out which is best for themselves.
                </p>
                <p><a class="btn btn-primary" href="https://github.com/SayefReyadh/MedicAid-ASP.NET-MVC5-AUST-CSE-3200-WebApplication">Github Repo (MedicAid-ASP.NET-MVC5-AUST-CSE-3200-WebApplication)</a></p>
            </div>
            <div class="col-md-4">
                <h2 class="text-danger">Authors</h2>
                <p><a href="https://github.com/SayefReyadh">Sayef Reyadh Khan</a></p>
                <p><a href="https://github.com/shaafi20">Asif Imtiaz Shaafi</a></p>
                <p><a href="https://www.facebook.com/farzana.eva.2">Farzana Eva</a></p>

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            Doctor's Information
                        </h3>
                        <dl>
                            <dt>

                            </dt>
                            <dd>

                            </dd>

                        </dl>
                    </div>
                    <div class="col-md-6">
                        <h3>
                            Hospital's Information

                        </h3>
                        <dl>
                            <dt>

                            </dt>
                            <dd>

                            </dd>

                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            Pharmacy's Information
                        </h3>
                        <dl>
                            <dt>

                            </dt>
                            <dd>

                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <h3>
                            Emergency's Information
                        </h3>
                        <dl>
                            <dt>

                            </dt>
                            <dd>

                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>