<div class="container">
    <section style="height:40px;"></section>
    <footer class="footer-bs">
        <div class="row">
            <div class="col-md-4 footer-brand animated fadeInLeft">
                <h2>MedicAid</h2>
                <p>The project “MedicAid” is a web based project created using ASP.NET MVC5 which is aimed to provide medical information related help so that not only people can easily get all information in one place but also can compare information and find out which is best for themselves.</p>
                <p>&copy;MedicAid - @DateTime.Now.Year </p>
            </div>
            <div class="col-md-3 footer-nav animated fadeInUp">
                <h3>Authors</h3>
                    <ul class="pages">
                        
                        <li><a href="https://github.com/SayefReyadh">Sayef Reyadh Khan</a></li>
                        <li><a href="https://github.com/shaafi20">Asif Imtiaz Shaafi</a></li>
                        <li><a href="https://www.facebook.com/farzana.eva.2">Farzana Eva</a></li>
                        
                    </ul>
                
               
            </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-ns animated fadeInRight">
                <h3>Feedback</h3>
                <p>Please do send us feedback and suggestions</p>
                <p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Feedback">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </p>
            </div>
        </div>
    </footer>

</div>